body { 
	padding: 0;
	margin: 0;
	background: #FFF;
	font-family: 'Fira Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
ul {
	margin: 0;
	padding: 0;
}
label {
	margin: 0;
}
/*-- //Reset-Code --*/
p {
	margin: 0;
	line-height: 2;
	font-size: 1em;
	color:#888;
}
/*-- header styling starts here --*/
.w3l-head{
    text-align: center;
    font-size: 350%;
}
span.title-head{
    background: #d65cb0;
    padding: 0px 10px;
    color: #fdfdfd;
    display: inline-block;
    margin-right:1px;
}
h3.w3l-head:after {
    content: "";
    background: #066093;
    display: block;
    width: 100px;
    height: 5px;
    position: absolute;
    right: 44%;
}
.fa{
    margin-top: 10px;
}
i.fa {
    padding: 0 0.5em;
}
/*--/content --*/
.topper{
    padding-top: 1em;
}
.w3l-left{
    padding-left: 5%;  
}

.w3l-right{
    padding-left: 5%;
}
.conten{
    padding-top: 2em;
}
.conten h3{
    color: #0b9bee;
}
/* education */
.w3l-about{
    padding-top: 20px;
}
.Education{
    
}
.info-grids{
    margin-top: 2em;
}
h4.edu-year{
    float:right;
    color: #066093;
}
h4.edu-sc{
    float:left;
    color: #066093;
}
.info-align-year h4{
    font-size: 1em;
    text-transform: capitalize;
    color: #0b9bee;
    font-weight: 400;
}
.education-agile-w3l-info p {
    font-size: 0.9em;
    line-height: 1.9em;
    color: #777;
    margin-top: 10px;
}
.education p{
    color: #000000;
}

/* info */
h4.w3layouts-info{
    float:right;
    margin-top: 10px;
    color: #0b9bee;
}
h4.w3ls-type{
    float:left;
    height: 50px;
    width: 50px;
    background-color: #d65cb0;
    border-radius: 25px;
}

/*-- /skills --*/
.Expertise{
    
}
.bar_group{
    position: relative;
    z-index: 1;
}
.skill{
    height: 20px;
    width: 90%;
    background-color: #d65cb0;
    margin: 20px;
}
.ability{
    height: 20px;
    width: 30%;
    background-color:crimson;
}
/* profile */
.profile p{
    color: #000000;
    font-weight: 300;
    letter-spacing: 0.5px;
    width: 90%;
}
.w3l_head{
    margin-bottom: 1em;
}
/* Experience */
.Experience{
    margin-top: 2em;
}
.kn-job {
    color: #066093;
    float: left;
}
.kn-year{
    float: right;
    color: blue;
}
.text-kinhnghiem p{
    width: 80%;
    color: #000000;
}

.w3l-left::after{
    content: "";
    background: #627474;
    display: inline-block;
    width: 5px;
    height: 500px;
    position: absolute;
    right: -10px;
    top: 0px;
}