html {
        height: 100%;
    }

    @media only screen and (max-width: 768px){
        .container{
            padding: 0;
            margin: 0;
            width: 100%;
        }
    }
     
    @media only screen and (min-width: 769px){
        .container{
            
        }
    }

    body {
        height: 100%;
        background: #F1E0CD url("../img/background.jpg") no-repeat;
        color: #404041;
        background-size: cover;
        font-family: "Source Sans Pro", sans-serif;
        background-attachment: fixed;
    }
    h1,h2,h3,h4,h6 {
        font-family: "Josefin Sans", sans-serif;
    }
    .tab-content h2{
        color: rgb(163, 247, 54);
    }
    #info h2{
        color: rgb(50, 59, 112);
    }
    h5{
        font-family: "Source Sans Pro", sans-serif;
        font-size: 2.5rem;
        color: rgb(58, 96, 139);
        font-weight: bold;
    }
    p {
        font-size: 2rem;
    }

    #Profile {
        margin: 6rem auto 0;
        background: white;
        max-width: 100%;
        opacity: 0.7;
    }
    .language{
        position: absolute;
        right: 0;
        top: 0
    }
    .eng,.vi{
        display: inline;
    }
    .btneng,.btnvi{
        width: 30px;
        height: 30px;
        background-color: #fff;
        margin: 2px 2px;
    }
    .btneng{
        background-image: url('../img/english.jpg');
        background-size: cover;
    }
    .btnvi{
        background-image: url('../img/vietnamese.jpg');
        background-size: cover;
    }
    #user {
        padding: 2.5rem;
        position: relative;
       
    }

    #img {
        width: 120px;
        height: 120px;
        background: #DA609B url("https://scontent.fsgn6-1.fna.fbcdn.net/v/t1.0-1/p160x160/33029261_953577291467035_8611171349852848128_n.jpg?_nc_cat=0&oh=82181f0e96b21b6c8f82a4cf71995eea&oe=5BE19447") top center no-repeat;
        display: block;
        margin: 2rem auto 0;
        border-radius: 50%;
    }

    #social a {
        margin: 0 0.5rem;
    }
    
    i[class*="2x"] {
        color: #DA609B;
    }

    i[class*="1x"] {
        transition: color 0.5s ease;
        color: white;
    }

    i[class*="1x"]:hover {
        color: #F1E0CD;
    }

    #navigation ul {
        background: rgb(58, 96, 139);
    }

    #navigation ul i {
        color: #F1E0CD;
    }

    #navigation ul li.active i {
        color: rgb(118, 177, 245);
    }

    #navigation ul li.active:hover i {
        color: white;
    }

    .nav-tabs {
        border: none;
    }

    .tab-pane {
        padding: 10% 10% 10%;
    }

    .nav-tabs.nav-justified>li>a {
        margin: 0;
        border: none;
        border-radius: 0;
    }

    .nav-tabs.nav-justified>li>a:hover {
        background: rgb(50, 59, 112);
    }

    .progress{
        background: rgba(255, 255, 234, 0.2);
    }

    .progress-bar {
        background-color: goldenrod;
    }
    #info h4{
        color: firebrick;
    }
    .edu{
        position: relative;
    }
    .year{
        position: absolute;
        right: 0;
    }

    label,
    input {
        margin-bottom: 1.25rem;
    }

    label {
        font-size: 1.75rem;
        color:rgb(49, 48, 48);
    }

    label small {
        color: #D88BAC;
        font-size: 1.25rem;
        margin-left: 0.25rem;
    }

    .form-control:focus {
        border-color: #D88BAC;
        box-shadow: 0 0 0.5rem #D88BAC;
    }

    button[type="submit"] {
        margin-top: 2rem;
        background: #DA609B;
        border-color: #DA609B;
        color: white;
        transition: color 0.5s ease;
    }

    button[type="submit"]:hover {
        background: #DA609B;
        border-color: #DA609B;
        color: #F1E0CD;
    }